<% unless @data.blank? %>
  <% @data.each do |comment| %>
    <div class="col-12 shadow-lg p-3 mb-3 bg-white rounded">
      <%= link_to comment.sound.name, sound_path(comment.sound), class: "badge badge-info" %>
      <br>
      <span class="badge badge-info"><%= comment.user.name %></span> : <%= comment.comment %>

    </div>
  <% end %>
<% else %>
	<div class="col-12 text-center alert alert-info" role="alert">
	  Yorum bulunamadı.
	</div>
<% end %>
